.container{
    width: 1300px;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
    box-sizing: border-box;
    
}
.top-nav {
    height: 200px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 400px;
    width: 200px;
    background-color: blue;
    margin: 20px;
    float: left;
}
.main {
    height: 600px;
    width: 1000px;
    background-color: red;
    margin: 20px;
    margin-top: 0;
    margin-left: 250px;
    
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    border: 1px solid black;
    float: right;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    float: none;
}

